extends layout

block content
    header.primary-header.flex
      .logo
        a(href='index.html')
          | BUKO 
          span(style='color: aqua;') FERNANDO
      button.mobile-nav-toggle(aria-controls='primary--nav' aria-expanded='false')
      nav
        ul#primary--nav.primary--nav.flex(data-visible='false')
          li
            a.link(href='index' aria-hidden='true') Home
          li
            a.link(href='works' aria-hidden='true') Works
          li
            a.link(href='about' aria-hidden='true') About
          li
            a.link(href='contact' aria-hidden='true') Contact
          li
            a.link(href='login' aria-hidden='true') Login
          li.active
            a.link(href='signup' aria-hidden='true') Sign Up
    .login-wrapper
      .grid-register
        .grid-login
          form(action='signup' method='post')
            | Username: 
            input(type='text' name='username' placeholder='username')
            br
            br
            |                     Firstname: 
            input(type='text' name='firstname' placeholder='firstname')
            br
            br
            |                     Lastname: 
            input(type='text' name='lastname' placeholder='lastname')
            br
            br
            |                     Password: 
            input(type='password' name='password' placeholder='password')
            br
            br
            .login-btn
              input(type='submit' value='Sign Up' method="post" id="btn-member")
              br
              br
            p #{error}
      .div-login-bg
        h1#login-bg
          | Sign 
          span up