extends layout

block content
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title BUKO
    link(rel='stylesheet' href='style.css')
  body
    header.primary-header.flex
      .logo
        a(href='index')
          | BUKO 
          span(style='color: aqua;') FERNANDO
      button.mobile-nav-toggle(aria-controls='primary--nav' aria-expanded='false')
      nav
        ul#primary--nav.primary--nav.flex(data-visible='false')
          li
            a.link(href='index' aria-hidden='true') Home
          li.active
            a.link(href='works' aria-hidden='true') Works
          li
            a.link(href='about' aria-hidden='true') About
          li
            a.link(href='contact' aria-hidden='true') Contact
          li
            a.link(href='login' aria-hidden='true') Login
          li
            a.link(href='signup' aria-hidden='true') Sign Up
    .gallery
      .gallery-items
        .img-gallery0
          img(src='images/gallery/0.jpg')
        .img-gallery1
          img(src='images/gallery/1.jpg')
        .img-gallery2
          img(src='images/gallery/2.jpg')
        .img-gallery3
          img(src='images/gallery/3.jpg')
        .img-gallery4
          img(src='images/gallery/4.jpg')
        .img-gallery5
          img(src='images/gallery/5.jpg')
        .img-gallery6
          img(src='images/gallery/6.jpg')
        .img-gallery7
          img(src='images/gallery/7.jpg')
        .img-gallery8
          img(src='images/gallery/8.jpg')
        .img-gallery9
          img(src='images/gallery/9.jpg')
        .img-gallery10
          img(src='images/gallery/10.jpg')
        .img-gallery11
          img(src='images/gallery/11.jpg')
        .img-gallery12
          img(src='images/gallery/12.jpg')
        .img-gallery13
          img(src='images/gallery/13.jpg')
        .img-gallery14
          img(src='images/gallery/14.jpg')
        .img-gallery15
          img(src='images/gallery/15.jpg')
        .img-gallery16
          img(src='images/gallery/16.jpg')
        .img-gallery17
          img(src='images/gallery/17.jpg')
        .img-gallery18
          img(src='images/gallery/18.jpg')
        .img-gallery19
          img(src='images/gallery/19.jpg')
        //
          <div class="img-gallery20"><img src="images/gallery/20.jpg"></div>
          <div class="img-gallery21"><img src="images/gallery/21.jpg"></div>
          <div class="img-gallery22"><img src="images/gallery/22.jpg"></div>
          <div class="img-gallery23"><img src="images/gallery/23.jpg"></div>
    footer
      h1
        .base
          span.mail-info
            span.mail-text(tooltip='Click to Copy' tooltip-position='top') nikobuko@gmail.com
        script(src='nav.js')
